.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  width: auto;
  border: 2px solid black;
  color: red;
}

th, td {
  text-align: center;
  padding: 8px;
  border: 1px solid black;
}

.blackText {
  color: black;
}

.black {
  background-color: black;
}

.rounds{
  font-weight: bold;
  color: black;
}
/* .scoreboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

}

table {
  border: medium solid #6495ed;
  border-collapse: collapse;
  width: 50%;
  }
  th {
  font-family: monospace;
  border: thin solid #6495ed;
  width: 50%;
  padding: 5px;
  background-color: #D0E3FA;

  }
  td {
  font-family: sans-serif;
  border: thin solid #6495ed;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
  }
   */
